# ZADANIE 1

Import bibliotek

In [272]:
import numpy as np
import pandas as pd
from pathlib import Path
from pprint import pprint

## Preprocessing danych

Wczytanie danych

In [273]:
df_path = Path('data.csv')
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 80)
df = pd.read_csv(df_path, sep=';')
df.columns = df.columns.str.strip()

Przeglądanie danych, ujednolicenie wartości w kolumnach:

In [274]:
df = df.drop(df.columns[0], axis=1)
df

,Zummi,Gruffi,Grammi,Tummi,Sunni,Cubbi,Sir Thornberry,Gusto,Chummi,Sir Gallant
0,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
1,Widział,Nie Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział,Nie Widział,Widział
2,Widział,Nie Widział,Widział,Nie Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział
3,Nie Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
4,Widział,Widział,Widział,Nie Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Widział
...,...,...,...,...,...,...,...,...,...,...
995,Widział,Nie Widział,Widział,Widział,Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział
996,Widział,Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział
997,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Nie Widział
998,Nie Widział,Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
999,Nie Widział,Nie Widział,Widział,Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział

In [275]:
print(f'Liczba respondentów:', df.shape[0])
print(f'Liczba gumisiów:', df.shape[1])

Liczba respondentów: 1000
Liczba gumisiów: 10

Nazwy kolumn ramki danych (gumisiów):

In [276]:
col_names = df.columns
col_names = col_names.to_list()
col_names

['Zummi',
 'Gruffi',
 'Grammi',
 'Tummi',
 'Sunni',
 'Cubbi',
 'Sir Thornberry',
 'Gusto',
 'Chummi',
 'Sir Gallant']

Sprawdzenie czy w ramce danych znajdują się puste wartości

In [277]:
cols_with_nans = df.columns[df.isna().any()].tolist()
print("Columns with NaN values: ", cols_with_nans)

Columns with NaN values:  ['Zummi', 'Gruffi', 'Grammi', 'Tummi', 'Sunni', 'Cubbi', 'Sir Thornberry', 'Gusto', 'Chummi', 'Sir Gallant']

Wypisanie liczby pustych wartości dla poszczególnych gumisiów - tyle respondentów nie określiło czy widziało reklamę danego gumisia w social mediach, czy też nie:

In [278]:
print(df.isna().sum())

Zummi             16
Gruffi            16
Grammi            21
Tummi             11
Sunni             21
Cubbi             15
Sir Thornberry    15
Gusto             13
Chummi            18
Sir Gallant       14
dtype: int64

Ponieważ w ramce danych znajdują się puste wartości, logicznym podejściem uwzględniającym kontekst zadania jest wypełnienie tych komórek oznaczeniem, że dany respondent nie widział reklamy produktu P1 w social mediach prezentowanego przez danego gumisia.

In [279]:
df = df.fillna('nie')

In [280]:
df_counts = pd.DataFrame()
for col in df.columns:
    df_counts[col] = df[col].value_counts()

df_counts = df_counts.transpose()
df_counts

Zummi           Nie Widział  Widział  nie  Widzial  nie widzial  Widzi al  tak
Zummi                   493      419   26       22           18        11   11
Gruffi                  479      428   28       27           28         6    4
Grammi                  523      378   36       24           25         7    7
Tummi                   502      396   20       29           21        12   20
Sunni                   475      410   33       36           23        12   11
Cubbi                   511      394   21       26           30         8   10
Sir Thornberry          500      383   23       32           30         9   23
Gusto                   512      399   21       24           21        11   12
Chummi                  491      401   28       33           29         6   12
Sir Gallant             486      400   25       38           27        10   14

In [281]:
df = df.astype(str)

def map_values(val):
    if 'nie' in val.lower():
        return 0
    else:
        return 1

for col in df.columns:
  df[col] = df[col].apply(map_values)

Odpowiednio przygotowane dane wyglądają następująco:

gdzie:
1 - oznacza, że respondent widział reklamę gumisia w social mediach,
0 - oznacza, że respondent nie widział lub brakowało informacji na temat tego, że widział.

In [282]:
df

,Zummi,Gruffi,Grammi,Tummi,Sunni,Cubbi,Sir Thornberry,Gusto,Chummi,Sir Gallant
0,0,0,0,0,1,1,0,0,0,0
1,1,0,1,1,1,1,0,1,0,1
2,1,0,1,0,1,1,1,1,0,1
3,0,0,0,1,1,0,0,0,0,0
4,1,1,1,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
995,1,0,1,1,1,0,0,1,1,0
996,1,1,0,1,0,0,1,1,0,0
997,1,1,0,0,0,1,0,0,1,0
998,0,1,1,1,0,0,0,0,0,0
999,0,0,1,1,1,1,1,1,0,1

## Właściwa analiza danych

### Analiza gumisiów z osobna

Zasięg każdego z gumisiów:

In [283]:
gummis_dict = {}

for col in df.columns:
    gummis_dict[col] = df[col].sum()

gummis_list = list(gummis_dict.items())
sorted_gummis_list = sorted(gummis_list, key=lambda x: x[1], reverse=True)

pprint(sorted_gummis_list)

[('Sunni', 469),
 ('Gruffi', 465),
 ('Zummi', 463),
 ('Sir Gallant', 462),
 ('Tummi', 457),
 ('Chummi', 452),
 ('Sir Thornberry', 447),
 ('Gusto', 446),
 ('Cubbi', 438),
 ('Grammi', 416)]

In [284]:
max_value = max(gummis_dict.values())
min_value = min(gummis_dict.values())
difference_percentage = ((max_value - min_value) / min_value) * 100

print(f'Rozpoznawalność najpopularniejszego gumisia ->', max_value/df.shape[0])
print(f'Rozpoznawalność najmniej popularnego gumisia ->', min_value/df.shape[0])
print(f'Wzgledna różnica rozpoznawalności [%] ->', difference_percentage)

Rozpoznawalność najpopularniejszego gumisia -> 0.469
Rozpoznawalność najmniej popularnego gumisia -> 0.416
Wzgledna różnica rozpoznawalności [%] -> 12.740384615384615

Analiza rozpatrująca każdego z gumisiów osobno wykazuje, że każdy z gumisiów posiada zbliżoną popularność zgodnie z opiniami respondentów. ponieważ gumiś najgorzej rozpoznawalny jest o niespełna 13% rzadziej widziany od gumisia najbardziej popularnego.

Rozpatrując gumisie niezależnie od siebie, do promocji produktu P2 należałoby wybrać następujących gumisiów:

In [285]:
for gummi in sorted_gummis_list[:5]:
    print(gummi[0])

Sunni
Gruffi
Zummi
Sir Gallant
Tummi

### Analiza gumisiów z uwzględnieniem zależności między nimi

Ponieważ ostatecznie zależy nam na wyborze gumisiów, które będą łącznie dawać najlepsze zasięgi w ramach promocji produktu P2, warto przy wyborze grupy gumisiów postarać się uniknąć takiej sytuacji, że 2 wybrane gumisie będą dawały takie same zasięgi u tych samych potencjalnych klientów. Warto, aby obszary działań