# ZADANIE 1

Import potrzebnych bibliotek

In [823]:
import pandas as pd
from pathlib import Path
from itertools import combinations

## Preprocessing danych

Wczytanie danych

In [824]:
df_path = Path('data.csv')
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 80)
df = pd.read_csv(df_path, sep=';')
df.columns = df.columns.str.strip()

Przeglądanie danych, ujednolicenie wartości w kolumnach:

In [825]:
df = df.drop(df.columns[0], axis=1)
df

,Zummi,Gruffi,Grammi,Tummi,Sunni,Cubbi,Sir Thornberry,Gusto,Chummi,Sir Gallant
0,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
1,Widział,Nie Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział,Nie Widział,Widział
2,Widział,Nie Widział,Widział,Nie Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział
3,Nie Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
4,Widział,Widział,Widział,Nie Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Widział
...,...,...,...,...,...,...,...,...,...,...
995,Widział,Nie Widział,Widział,Widział,Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział
996,Widział,Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Widział,Nie Widział,Nie Widział
997,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Widział,Nie Widział,Nie Widział,Widział,Nie Widział
998,Nie Widział,Widział,Widział,Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział,Nie Widział
999,Nie Widział,Nie Widział,Widział,Widział,Widział,Widział,Widział,Widział,Nie Widział,Widział

In [826]:
print(f'Liczba respondentów:', df.shape[0])
print(f'Liczba gumisiów:', df.shape[1])

Liczba respondentów: 1000
Liczba gumisiów: 10

Nazwy kolumn ramki danych (gumisiów):

In [827]:
col_names = df.columns
col_names = col_names.to_list()
col_names

['Zummi',
 'Gruffi',
 'Grammi',
 'Tummi',
 'Sunni',
 'Cubbi',
 'Sir Thornberry',
 'Gusto',
 'Chummi',
 'Sir Gallant']

Sprawdzenie czy w ramce danych znajdują się puste wartości - czy były przypadki, w których respondenci nie określili czy widzieli reklamę danego gumisia w social mediach, czy też nie:

In [828]:
cols_with_nans = df.columns[df.isna().any()].tolist()
print("Brak danych dla następujących gumisiów: ", cols_with_nans)

Brak danych dla następujących gumisiów:  ['Zummi', 'Gruffi', 'Grammi', 'Tummi', 'Sunni', 'Cubbi', 'Sir Thornberry', 'Gusto', 'Chummi', 'Sir Gallant']

Wypisanie liczby pustych wartości dla poszczególnych gumisiów - tyle respondentów nie określiło czy widziało reklamę danego gumisia w social mediach, czy też nie:

In [829]:
print(df.isna().sum())

Zummi             16
Gruffi            16
Grammi            21
Tummi             11
Sunni             21
Cubbi             15
Sir Thornberry    15
Gusto             13
Chummi            18
Sir Gallant       14
dtype: int64

Ponieważ w ramce danych znajdują się puste wartości, logicznym podejściem uwzględniającym kontekst zadania jest wypełnienie tych pustych komórek oznaczeniem, że dany respondent nie widział reklamy produktu P1 w social mediach prezentowanego przez danego gumisia.

In [830]:
df = df.fillna('nie')

Sprawdzenie odpowiedzi respondentów dla poszczególnych gumisiów:

In [831]:
df_counts = pd.DataFrame()
for col in df.columns:
    df_counts[col] = df[col].value_counts()

df_counts = df_counts.transpose()
df_counts

Zummi           Nie Widział  Widział  nie  Widzial  nie widzial  Widzi al  tak
Zummi                   493      419   26       22           18        11   11
Gruffi                  479      428   28       27           28         6    4
Grammi                  523      378   36       24           25         7    7
Tummi                   502      396   20       29           21        12   20
Sunni                   475      410   33       36           23        12   11
Cubbi                   511      394   21       26           30         8   10
Sir Thornberry          500      383   23       32           30         9   23
Gusto                   512      399   21       24           21        11   12
Chummi                  491      401   28       33           29         6   12
Sir Gallant             486      400   25       38           27        10   14

Zmapowanie odpowiedzi tak, aby były one jednoznaczne:

In [832]:
df = df.astype(str)

def map_values(val):
    if 'nie' in val.lower():
        return 0
    else:
        return 1

for col in df.columns:
  df[col] = df[col].apply(map_values)

Odpowiednio przygotowane dane wyglądają następująco:

gdzie:
1 - oznacza, że respondent widział reklamę gumisia w social mediach,
0 - oznacza, że respondent nie widział lub brakowało informacji na temat tego, że widział.

In [833]:
df

,Zummi,Gruffi,Grammi,Tummi,Sunni,Cubbi,Sir Thornberry,Gusto,Chummi,Sir Gallant
0,0,0,0,0,1,1,0,0,0,0
1,1,0,1,1,1,1,0,1,0,1
2,1,0,1,0,1,1,1,1,0,1
3,0,0,0,1,1,0,0,0,0,0
4,1,1,1,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
995,1,0,1,1,1,0,0,1,1,0
996,1,1,0,1,0,0,1,1,0,0
997,1,1,0,0,0,1,0,0,1,0
998,0,1,1,1,0,0,0,0,0,0
999,0,0,1,1,1,1,1,1,0,1

## Właściwa analiza danych

### Analiza gumisiów z osobna

Zasięg każdego z gumisiów - ile respondetów widziało reklamę danego gumisia w social mediach:

In [834]:
gummis_dict = {}

for col in df.columns:
    gummis_dict[col] = df[col].sum()

gummis_list = list(gummis_dict.items())
sorted_gummis_list = sorted(gummis_list, key=lambda x: x[1], reverse=True)

df_combinations1= pd.DataFrame(sorted_gummis_list, columns=['1', 'Zasięg'])
df_combinations1['popularność'] = df_combinations1['Zasięg'] / df.shape[0] * 100
df_combinations1

                1  Zasięg  popularność
0           Sunni     469         46.9
1          Gruffi     465         46.5
2           Zummi     463         46.3
3     Sir Gallant     462         46.2
4           Tummi     457         45.7
5          Chummi     452         45.2
6  Sir Thornberry     447         44.7
7           Gusto     446         44.6
8           Cubbi     438         43.8
9          Grammi     416         41.6

In [835]:
max_value = max(gummis_dict.values())
min_value = min(gummis_dict.values())
difference_percentage = ((max_value - min_value) / min_value) * 100

print(f'Rozpoznawalność najpopularniejszego gumisia [%] -> ', max_value/df.shape[0]*100)
print(f'Rozpoznawalność najmniej popularnego gumisia [%] ->', min_value/df.shape[0]*100)
print(f'Wzgledna różnica rozpoznawalności [%] ->', difference_percentage)

Rozpoznawalność najpopularniejszego gumisia [%] ->  46.9
Rozpoznawalność najmniej popularnego gumisia [%] -> 41.6
Wzgledna różnica rozpoznawalności [%] -> 12.740384615384615

Analiza rozwarzająca każdego gumisia osobno na podstwawie wywiadów z respondentami wykazuje, że każdy z gumisiów posiada zbliżoną popularność zgodnie z opiniami respondentów. ponieważ gumiś najgorzej rozpoznawalny jest o niespełna 13% rzadziej widziany od gumisia najbardziej popularnego.

Rozpatrując gumisie niezależnie od siebie, do promocji produktu P2 należałoby wybrać następujących gumisiów (niezalecane podejście):

In [836]:
for gummi in sorted_gummis_list[:5]:
    print(gummi[0])

Sunni
Gruffi
Zummi
Sir Gallant
Tummi

### Analiza gumisiów z uwzględnieniem zależności między nimi

Ponieważ ostatecznie zależy nam na wyborze gumisiów, które będą łącznie dawać najlepsze zasięgi w ramach promocji produktu P2, warto przy wyborze grupy gumisiów postarać się uniknąć takiej sytuacji, że 2 wybrane gumisie będą dawały takie same zasięgi u tych samych potencjalnych klientów. Warto, aby obszary działań się nie pokrywały, a sumowały.

Ponieważ problem nie jest duży - do wyboru jest maksymalnie 5 z 10 gumisiów, można zastosować metodę brute-force, która pozwoli na znalezienie najlepszej kombinacji gumisiów. Liczba kombinacji wynosi 10 * 9 * 8 * 7 * 6 / 5! czyli 252, co jest akceptowalną liczbą do przetestowania.

Policzona zostanie zatem kombinacja gumisiów połączonych w grupach 2, 3, 4, 5 osobowych, które to dały największe zasięgi. W zależności od budżetu klient wybierze ilu osobowa grupa gumisiów będzie promować produkt P2, zakładając, że zasięgi się nie zmienią dla nowego produktu.

In [837]:
column_names = df.columns.tolist()
combinations2 = list(combinations(column_names, 2))
combinations3 = list(combinations(column_names, 3))
combinations4 = list(combinations(column_names, 4))
combinations5 = list(combinations(column_names, 5))
print("Lista możliwych kombinacji wyboru gumisiów przykładowo dla wyboru 2 gumisiów: ")
for combo in combinations2:
    print(combo)

Lista możliwych kombinacji wyboru gumisiów przykładowo dla wyboru 2 gumisiów:
('Zummi', 'Gruffi')
('Zummi', 'Grammi')
('Zummi', 'Tummi')
('Zummi', 'Sunni')
('Zummi', 'Cubbi')
('Zummi', 'Sir Thornberry')
('Zummi', 'Gusto')
('Zummi', 'Chummi')
('Zummi', 'Sir Gallant')
('Gruffi', 'Grammi')
('Gruffi', 'Tummi')
('Gruffi', 'Sunni')
('Gruffi', 'Cubbi')
('Gruffi', 'Sir Thornberry')
('Gruffi', 'Gusto')
('Gruffi', 'Chummi')
('Gruffi', 'Sir Gallant')
('Grammi', 'Tummi')
('Grammi', 'Sunni')
('Grammi', 'Cubbi')
('Grammi', 'Sir Thornberry')
('Grammi', 'Gusto')
('Grammi', 'Chummi')
('Grammi', 'Sir Gallant')
('Tummi', 'Sunni')
('Tummi', 'Cubbi')
('Tummi', 'Sir Thornberry')
('Tummi', 'Gusto')
('Tummi', 'Chummi')
('Tummi', 'Sir Gallant')
('Sunni', 'Cubbi')
('Sunni', 'Sir Thornberry')
('Sunni', 'Gusto')
('Sunni', 'Chummi')
('Sunni', 'Sir Gallant')
('Cubbi', 'Sir Thornberry')
('Cubbi', 'Gusto')
('Cubbi', 'Chummi')
('Cubbi', 'Sir Gallant')
('Sir Thornberry', 'Gusto')
('Sir Thornberry', 'Chummi')
('Sir Thornberry', 'Sir Gallant')
('Gusto', 'Chummi')
('Gusto', 'Sir Gallant')
('Chummi', 'Sir Gallant')

In [838]:
column_names2 = [str(i) for i in range(1, 3)]
column_names3 = [str(i) for i in range(1, 4)]
column_names4 = [str(i) for i in range(1, 5)]
column_names5 = [str(i) for i in range(1, 6)]
df_combinations2 = pd.DataFrame(combinations2, columns=column_names2)
df_combinations3 = pd.DataFrame(combinations3, columns=column_names3)
df_combinations4 = pd.DataFrame(combinations4, columns=column_names4)
df_combinations5 = pd.DataFrame(combinations5, columns=column_names5)
df_combinations2['zeros'] = 1000 # na początku zakładamy, że każda kombinacja gumisiów dała 0 zasięgów
df_combinations3['zeros'] = 1000
df_combinations4['zeros'] = 1000
df_combinations5['zeros'] = 1000
df_combinations2['popularność'] = 0
df_combinations3['popularność'] = 0
df_combinations4['popularność'] = 0
df_combinations5['popularność'] = 0
df_combinations2['popularność'] = df_combinations2['popularność'].astype(float)
df_combinations3['popularność'] = df_combinations3['popularność'].astype(float)
df_combinations4['popularność'] = df_combinations4['popularność'].astype(float)
df_combinations5['popularność'] = df_combinations5['popularność'].astype(float)
df_combinations2

                 1               2  zeros  popularność
0            Zummi          Gruffi   1000          0.0
1            Zummi          Grammi   1000          0.0
2            Zummi           Tummi   1000          0.0
3            Zummi           Sunni   1000          0.0
4            Zummi           Cubbi   1000          0.0
5            Zummi  Sir Thornberry   1000          0.0
6            Zummi           Gusto   1000          0.0
7            Zummi          Chummi   1000          0.0
8            Zummi     Sir Gallant   1000          0.0
9           Gruffi          Grammi   1000          0.0
10          Gruffi           Tummi   1000          0.0
11          Gruffi           Sunni   1000          0.0
12          Gruffi           Cubbi   1000          0.0
13          Gruffi  Sir Thornberry   1000          0.0
14          Gruffi           Gusto   1000          0.0
15          Gruffi          Chummi   1000          0.0
16          Gruffi     Sir Gallant   1000          0.0
17          Grammi           Tummi   1000          0.0
18          Grammi           Sunni   1000          0.0
19          Grammi           Cubbi   1000          0.0
20          Grammi  Sir Thornberry   1000          0.0
21          Grammi           Gusto   1000          0.0
22          Grammi          Chummi   1000          0.0
23          Grammi     Sir Gallant   1000          0.0
24           Tummi           Sunni   1000          0.0
25           Tummi           Cubbi   1000          0.0
26           Tummi  Sir Thornberry   1000          0.0
27           Tummi           Gusto   1000          0.0
28           Tummi          Chummi   1000          0.0
29           Tummi     Sir Gallant   1000          0.0
30           Sunni           Cubbi   1000          0.0
31           Sunni  Sir Thornberry   1000          0.0
32           Sunni           Gusto   1000          0.0
33           Sunni          Chummi   1000          0.0
34           Sunni     Sir Gallant   1000          0.0
35           Cubbi  Sir Thornberry   1000          0.0
36           Cubbi           Gusto   1000          0.0
37           Cubbi          Chummi   1000          0.0
38           Cubbi     Sir Gallant   1000          0.0
39  Sir Thornberry           Gusto   1000          0.0
40  Sir Thornberry          Chummi   1000          0.0
41  Sir Thornberry     Sir Gallant   1000          0.0
42           Gusto          Chummi   1000          0.0
43           Gusto     Sir Gallant   1000          0.0
44          Chummi     Sir Gallant   1000          0.0

In [839]:
for index, row in df_combinations2.iterrows():
    a = df[row['1']] + df[row['2']]
    df_combinations2.at[index, 'zeros'] = a[a == 0].count()
    df_combinations2.at[index, 'popularność'] = float((1-df_combinations2.at[index, 'zeros'] / df.shape[0]) * 100)
df_combinations2 = df_combinations2.sort_values(by='zeros', ascending=True)


for index, row in df_combinations3.iterrows():
    b = df[row['1']] + df[row['2']] + df[row['3']]
    df_combinations3.at[index, 'zeros'] = b[b == 0].count()
    df_combinations3.at[index, 'popularność'] = float((1-df_combinations3.at[index, 'zeros'] / df.shape[0]) * 100)
df_combinations3 = df_combinations3.sort_values(by='zeros', ascending=True)


for index, row in df_combinations4.iterrows():
    c = df[row['1']] + df[row['2']] + df[row['3']] + df[row['4']]
    df_combinations4.at[index, 'zeros'] = c[c == 0].count()
    df_combinations4.at[index, 'popularność'] = float((1-df_combinations4.at[index, 'zeros'] / df.shape[0]) * 100)
df_combinations4 = df_combinations4.sort_values(by='zeros', ascending=True)

for index, row in df_combinations5.iterrows():
    d = df[row['1']] + df[row['2']] + df[row['3']] + df[row['4']] + df[row['5']]
    df_combinations5.at[index, 'zeros'] = d[d == 0].count()
    df_combinations5.at[index, 'popularność'] = float((1-df_combinations5.at[index, 'zeros'] / df.shape[0]) * 100)
df_combinations5 = df_combinations5.sort_values(by='zeros', ascending=True)

Posegregowane kombinacje gumisiów w kolejności od najlepszych do najgorszych. Kolumna z opisem "zeros" oznacza liczbę respondentów, którzy nie widzieli żadnego z gumisiów z danej kombinacji w social mediach.

Dane dla poszczególnych sekswencji 2 gumisiów:

In [840]:
df_combinations2

                 1               2  zeros  popularność
2            Zummi           Tummi    273         72.7
0            Zummi          Gruffi    279         72.1
10          Gruffi           Tummi    280         72.0
3            Zummi           Sunni    283         71.7
11          Gruffi           Sunni    283         71.7
34           Sunni     Sir Gallant    286         71.4
24           Tummi           Sunni    287         71.3
7            Zummi          Chummi    290         71.0
5            Zummi  Sir Thornberry    292         70.8
44          Chummi     Sir Gallant    294         70.6
27           Tummi           Gusto    295         70.5
30           Sunni           Cubbi    295         70.5
32           Sunni           Gusto    296         70.4
25           Tummi           Cubbi    296         70.4
16          Gruffi     Sir Gallant    297         70.3
8            Zummi     Sir Gallant    297         70.3
14          Gruffi           Gusto    297         70.3
29           Tummi     Sir Gallant    299         70.1
31           Sunni  Sir Thornberry    300         70.0
43           Gusto     Sir Gallant    300         70.0
12          Gruffi           Cubbi    300         70.0
28           Tummi          Chummi    301         69.9
33           Sunni          Chummi    301         69.9
13          Gruffi  Sir Thornberry    302         69.8
15          Gruffi          Chummi    302         69.8
41  Sir Thornberry     Sir Gallant    303         69.7
39  Sir Thornberry           Gusto    303         69.7
4            Zummi           Cubbi    304         69.6
37           Cubbi          Chummi    305         69.5
6            Zummi           Gusto    307         69.3
42           Gusto          Chummi    308         69.2
26           Tummi  Sir Thornberry    309         69.1
36           Cubbi           Gusto    309         69.1
40  Sir Thornberry          Chummi    310         69.0
38           Cubbi     Sir Gallant    311         68.9
35           Cubbi  Sir Thornberry    311         68.9
23          Grammi     Sir Gallant    316         68.4
22          Grammi          Chummi    318         68.2
17          Grammi           Tummi    319         68.1
1            Zummi          Grammi    319         68.1
18          Grammi           Sunni    322         67.8
20          Grammi  Sir Thornberry    325         67.5
9           Gruffi          Grammi    328         67.2
21          Grammi           Gusto    330         67.0
19          Grammi           Cubbi    345         65.5

Dane dla poszczególnych sekswencji 3 gumisiów:

In [841]:
df_combinations3

         1               2            3  zeros  popularność
1    Zummi          Gruffi        Tummi    134         86.6
19   Zummi           Tummi       Chummi    141         85.9
15   Zummi           Tummi        Sunni    143         85.7
43  Gruffi           Tummi        Sunni    145         85.5
18   Zummi           Tummi        Gusto    147         85.3
..     ...             ...          ...    ...          ...
80  Grammi  Sir Thornberry       Chummi    188         81.2
82  Grammi           Gusto       Chummi    190         81.0
76  Grammi           Cubbi        Gusto    191         80.9
78  Grammi           Cubbi  Sir Gallant    193         80.7
38  Gruffi          Grammi        Cubbi    197         80.3

[120 rows x 5 columns]

Dane dla poszczególnych sekswencji 4 gumisiów:

In [842]:
df_combinations4

          1               2      3               4  zeros  popularność
10    Zummi          Gruffi  Tummi           Gusto     67         93.3
9     Zummi          Gruffi  Tummi  Sir Thornberry     69         93.1
52    Zummi           Tummi  Sunni          Chummi     71         92.9
7     Zummi          Gruffi  Tummi           Sunni     71         92.9
50    Zummi           Tummi  Sunni  Sir Thornberry     72         92.8
..      ...             ...    ...             ...    ...          ...
168  Grammi           Cubbi  Gusto          Chummi    112         88.8
98   Gruffi          Grammi  Cubbi     Sir Gallant    112         88.8
97   Gruffi          Grammi  Cubbi          Chummi    113         88.7
96   Gruffi          Grammi  Cubbi           Gusto    116         88.4
171  Grammi  Sir Thornberry  Gusto          Chummi    117         88.3

[210 rows x 6 columns]

Dane dla poszczególnych sekswencji 5 gumisiów:

In [843]:
df_combinations5

,1,2,3,4,5,zeros,popularność
30,Zummi,Gruffi,Tummi,Sir Thornberry,Gusto,33,96.7
22,Zummi,Gruffi,Tummi,Sunni,Sir Thornberry,34,96.6
23,Zummi,Gruffi,Tummi,Sunni,Gusto,35,96.5
96,Zummi,Tummi,Sunni,Sir Thornberry,Chummi,35,96.5
91,Zummi,Tummi,Sunni,Cubbi,Sir Thornberry,36,96.4
...,...,...,...,...,...,...,...
151,Gruffi,Grammi,Cubbi,Sir Thornberry,Gusto,68,93.2
152,Gruffi,Grammi,Cubbi,Sir Thornberry,Chummi,68,93.2
157,Gruffi,Grammi,Sir Thornberry,Gusto,Chummi,69,93.1
154,Gruffi,Grammi,Cubbi,Gusto,Chummi,73,92.7
226,Grammi,Cubbi,Sir Thornberry,Gusto,Chummi,73,92.7

# Wnioski i zalecenia:

W zależności od posiadanego budżetu przez klienta należy wybrać odpowiednią liczbę gumisiów do promocji produktu. Chcąc maksymalizować zasięgi oprócz wyboru liczby gumisiów promujących produkt należy również uwzględnić fakt, że dla różnych kombinacji gumisiów w grupach otrzyma się potencjalnie różną popularność produktu. Na podstawie danych uzyskanych od respondentów można przewidzieć imiona gumisiów, które dadzą najlepsze zasięgi w ramach promocji produktu P2. Są to odpowiednio:

Zalecenia wyboru gumisiów:

In [844]:
print(f'1 Gumiś: {df_combinations1["1"].values[0]} \t\t\t\t\t\t\t\t\t\t\t\t  popularność - {df_combinations1["popularność"].values[0]}')
print(f'2 Gumisie: {df_combinations2["1"].values[0]},{df_combinations2["2"].values[0]} \t\t\t\t\t\t\t\t\t\t  popularność - {df_combinations2["popularność"].values[0]}')
print(f'3 Gumisie: {df_combinations3["1"].values[0]},{df_combinations3["2"].values[0]},{df_combinations3["3"].values[0]} \t\t\t\t\t\t\t\t  popularność - {df_combinations3["popularność"].values[0]}')
print(f'4 Gumisie: {df_combinations4["1"].values[0]},{df_combinations4["2"].values[0]},{df_combinations4["3"].values[0]},{df_combinations4["4"].values[0]} \t\t\t\t\t\t  popularność - {df_combinations4["popularność"].values[0]}')
print(f'5 Gumisiów: {df_combinations5["1"].values[0]},{df_combinations5["2"].values[0]},{df_combinations5["3"].values[0]},{df_combinations5["4"].values[0]},{df_combinations5["5"].values[0]} \t\t  popularność - {df_combinations5["popularność"].values[0]}')

1 Gumiś: Sunni 												  popularność - 46.9
2 Gumisie: Zummi,Tummi 										  popularność - 72.7
3 Gumisie: Zummi,Gruffi,Tummi 								  popularność - 86.6
4 Gumisie: Zummi,Gruffi,Tummi,Gusto 						  popularność - 93.30000000000001
5 Gumisiów: Zummi,Gruffi,Tummi,Sir Thornberry,Gusto 		  popularność - 96.7